    <% layout('layout') -%>
<div ng-app="projects">

    <div ng-controller="main">

        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header"><i class="fa fa-industry"></i> Projects</h4>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="panel">
            <div class="row ">
                <div class="col-md-12 ">
                    <form id="project_upsert" class="panel-body">

                        <fieldset>

                            <div ng-show="model._id" class="form-group">
                                <label for="_id"># ID</label>
                                <input type="text" class="form-control" ng-model="model._id">
                            </div>
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" ng-model="model.name">
                            </div>

                            <div class="form-group">
                                <label for="Type">Type</label>
                                <input type="text" class="form-control" ng-model="model.type">
                            </div>

                            <div class="form-group">
                                <label for="Name">Location</label>
                                <input type="text" class="form-control" ng-model="model.location">
                            </div>


                            <button ng-click="save(model)" class="btn btn-sm btn-success">
                                <i class="fa fa-save">
                                </i>
                                Save
                            </button>
                            <button ng-click="remove()" ng-show="model._id" class="btn btn-sm btn-danger">
                                <i class="fa fa-remove">
                                </i>
                                Remove
                            </button>

                            <button ng-click="clear()" ng-hide="model._id" class="btn btn-sm btn-warning">
                                <i class="fa fa-refresh">
                                </i>
                                Clear
                            </button>
                            <button ng-click="clear()" ng-show="model._id" class="btn btn-sm btn-info">
                                <i class="fa fa-refresh">
                                </i>
                                Back
                            </button>


                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
        <div ng-hide="model._id" class="datalist panel bg-gray">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <table id="list" class="table table-bordered table-stripped">

                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Location</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in getPage(currentPage)">

                                    <td>
                                        {{ item.name }}
                                    </td>

                                    <td>
                                        {{ item.type }}
                                    </td>

                                    <td>
                                        {{ item.location }}
                                    </td>
                                    <td>
                                        <button ng-click="edit(item)" class="btn btn-sm btn-primary">
                                            <i class="fa fa-edit"></i>   Edit
                                        </button>
                                        <button ng-click="remove(item)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-remove"></i>   Remove
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>



            <div class="footer-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li ng-click="setPageNumber(n)" ng-class="currentPage == n ? 'active' : ''" ng-repeat="n in getPager()"><a href="#list">{{n}}</a></li>

                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>


                <label class="">Total Items : {{ items.length }} </label>


         
                    <div class="">
                        <label for="pageSize">Page size</label>
                        <input  type="number" id="pageSize" class="form-control" ng-model="pageSize" />
                    </div>

                    <div class="">
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
