    <% layout('layout') -%>
<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header"><i class="fa fa-users"></i> Users</h4>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div ng-app="users" class="panel bg-gray">

    <div ng-controller="main" class="panel-body">
      
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <form id="project_upsert">

                    <fieldset>

                        <div ng-show="model._id" class="form-group">
                            <label for="_id"># ID</label>
                            <input type="text" class="form-control" ng-model="model._id">
                        </div>
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" ng-model="model.name">
                        </div>

                        <div class="form-group">
                            <label for="Type">email</label>
                            <input type="text" class="form-control" ng-model="model.email">
                        </div>

                        <div class="form-group">
                            <label for="Type">username</label>
                            <input type="text" class="form-control" ng-model="model.username">
                        </div>


                        <div class="form-group">
                            <label for="Name">phone</label>
                            <input type="text" class="form-control" ng-model="model.phone">
                        </div>

                        <div class="form-group">
                            <label for="Name">role</label>
                            <select class="form-control" ng-model="model.role">
                                <option value="">not confirmed</option>
                                <option value="user">user</option>
                                <option value="admin">admin</option>
                            </select>
                        </div>


                        <button ng-click="save(model)" class="btn btn-sm btn-success">
                            <i class="fa fa-save">
                            </i>
                            Save
                        </button>
                        <button ng-click="remove()" ng-show="model._id" class="btn btn-sm btn-danger">
                            <i class="fa fa-remove">
                            </i>
                            Remove
                        </button>

                        <button ng-click="clear()" ng-hide="model._id" class="btn btn-sm btn-warning">
                            <i class="fa fa-refresh">
                            </i>
                            Clear
                        </button>
                        <button ng-click="clear()" ng-show="model._id" class="btn btn-sm btn-info">
                            <i class="fa fa-refresh">
                            </i>
                            Back
                        </button>


                    </fieldset>

                </form>
            </div>
        </div>

        <hr />
        <div ng-hide="model._id" class="datalist">
            <div class="row">
                <div class="col-md-12">

                    <table id="list" class="table table-bordered table-stripped">

                        <thead>
                            <tr>
                                <th>name</th>
                                <th>username</th>
                                <th>phone</th>
                                <th>role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in getPage(currentPage)">

                                <td>
                                    {{ item.name }}
                                </td>

                                <td>
                                    {{ item.username }}
                                </td>

                                <td>
                                    {{ item.phone }}
                                </td>

                                <td>
                                    {{ item.role }}

                                    <span ng-hide="item.role" class="text-danger">
                                        need to confirm
                                    </span>

                                </td>
                                <td>
                                    <button ng-click="edit(item)" class="btn btn-sm btn-primary">
                                        <i class="fa fa-edit"></i>   Edit
                                    </button>
                                    <button ng-click="remove(item)" class="btn btn-sm btn-danger">
                                        <i class="fa fa-remove"></i>   Remove
                                    </button>
                                    <button ng-click="changePassword(item)" class="btn btn-sm btn-default">
                                        <i class="fa fa-lock"></i>   Change password
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>



                </div>
            </div>



            <nav class="footer-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li ng-click="setPageNumber(n)" ng-class="currentPage == n ? 'active' : ''" ng-repeat="n in getPager()"><a href="#list">{{n}}</a></li>

                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>


                <label class="">Total Items : {{ items.length }} </label>


                <div class="">
                    <div class="">
                        <label for="pageSize">Page size</label>
                        <input type="number" id="pageSize" class="form-control" ng-model="pageSize" />
                    </div>


                </div>
            </nav>
        </div>

    </div>
</div>
